.photo__container {
    margin-top: 1vh;
    width: 100vw;
    height: 140vh;
    background-image: url(/images/photo-10_12_24.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    width: 98.75vw;
}

.photo__title {
    margin-top: 15vh;
    font-family: "Roboto Mono", monospace, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: black;
    text-align: center;
    letter-spacing: 10px;
}