.photo__container {
    position: relative;
    margin-top: 2vh;
    width: 100vw;
    height: 140vh;
    background-image: url(/images/31_12_24/winter-forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100vw;
}

.photo__title {
    text-align: center;
    margin-top: 15vh;
    font-family: "Roboto Mono", monospace, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: black;
    text-align: center;
    letter-spacing: 10px;
}

.photo__subtitle {
    font-family: "Roboto Mono", monospace, Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 10px;
    right: 20px;
}