.iframe {
    display: block;
    position: relative;
    margin-top: 10vh;
    align-self: center;
}

.archive__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.song__title--archive {
    display: block;
    margin-top: 100vh;
    font-family: "Roboto Mono", monospace, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    letter-spacing: 10px;
    text-align: center;
}

.photo__container-10_12_24 {
    position: relative;
    margin-top: 24vh;
    width: 100vw;
    height: 140vh;
    background-image: url(/images/10_12_24/photo-10_12_24.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 98.75vw;
}