.start-text {
    font-family: "Roboto Mono", monospace, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.greetings {
    letter-spacing: 10px;
    font-weight: 500;
    margin-top: 20px;
    font-size: 36px;
    color: black;
    text-align: center;
}

.advice {
    margin-top: 80vh;
    margin-right: 50px;
    align-self: flex-end;
    font-size: 32px;
    font-weight: 400;
    color: white;
}

.nav-container1 {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

.icon1__container1 {
    margin-inline: 30px;
    border: 1px black solid;
    border-radius: 10px;
}

.icon1__image1 {
    width: 100px;
    height: 100px;
    padding-inline: 10vh;
}

.icon1__link1 {
    text-decoration: none;
}

.icon1__title1 {
    text-decoration: none;
    color: black;
    text-align: center;
}