.photo__container-20_12_24 {
    position: relative;
    margin-top: 24vh;
    width: 100vw;
    height: 140vh;
    background-image: url(/images/20_12_24/photo-20_11_24.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 98.75vw;
}