.body {
  display: block;
  margin: 0;
  padding: 0;
  background-image: url(../public/images/fishermen.jpg);
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.card-container {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
